# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
    - name: Install dependencies
      run: npm install
    - name: Install Playwright
      run: npx playwright install
    - name: Start Backend
      run: npm run start-be &
    - name: Wait for services to start
      run: sleep 10
    - name: Start FrontEnd
      run: npm run start-fe &
    - name: Wait for services to start
      run: sleep 10
    - name: Run tests
      run: npm run test

  deploy-be:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy backend to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.MY_RENDER_SERVICE_ID_BE }}
          api-key: ${{ secrets.MY_RENDER_API_KEY }}
